<main id="audit">
    <div class="background"></div>
    <form method="POST">
        <div id="auditbar" class="icon">
            <label for="auditbar-input">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input type="text" placeholder="exemple.com" id="auditbar-input" name="url">
            <button type="submit">Audit</button>
        </div>
    </form>
</main>