<main>
    <h2>Contact</h2>
    
    <form id="contact_form" action="/contact" method="post">
        <div>  
            <label for="contact-firstname">
                <i class="fa fa-user" aria-hidden="true"></i>
            </label>
            <input type="text" name="firstname" placeholder="Firstname" id="contact-firstname">
        </div>
        <div>  
            <label for="contact-lastname">
                <i class="fa fa-user" aria-hidden="true"></i>
            </label>
            <input type="text" name="lastname" placeholder="Lastname" id="contact-lastname">
        </div>
        <div>  
            <label for="contact-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="contact-email">
        </div>
        
        <div class="textarea">
            <label for="contact-message">
                <i class="fa fa-comment" aria-hidden="true"></i>
            </label>
<!--            <input type="password" name="password" placeholder="Type your message here...">-->
            <textarea name="message" id="contact-message" cols="30" rows="10" placeholder="Type your message here..."></textarea>
        </div>
        
        <input class="sm-btn" type="submit">
    </form>
</main>