<main>
    <p>Welcome to MicroSeo</p>
    
    <section class="login-signup"></section>
    
    <section class="prese"></section>
    
    <section class="pricing"></section>
    
    <section class="contact"></section>
    
</main>