<main id="home">
    <div id="particles-js"></div>
    
    <div class="welcome">
        <h2>Welcome to <strong>MicroSeo</strong></h2>
        <h3>The best ranking tool platform for developpers.</h3>
        <p>We provide advanced SEO technologies based on our own algorithms to help developpers succed in the ranking of websites.</p>
        <div class="buttons">           
            <a class="sm-btn" href="/login">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Login
            </a>
            <a class="sm-btn" href="/signup">
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Signup
            </a>
        </div>
    </div>
</main>