<main>
    <h2>Login</h2>

    <form id="login_form" action="/login" method="post">
        <div>  
            <label for="login-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="login-email">
        </div>
        
        <div> 
            <label for="login-password">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="login-password">
        </div>
        
        <a href="/signup" title=""><p>Don't have an account ? Signup</p></a>
        
        <input class="sm-btn" type="submit">
    </form>
    
<!--
    <div class="black-overlay">
        <div class="popup">
            <header>
                <p>Account activation</p>
            </header>
            <main>
                <p>Your account is now activated, you can enjoy our SEO services.</p> 
                <p>Don't hesitate to contact us for any problem or questions about MicroSeo.</p>
                <p class="signature">The MicroSeo Team</p>
                <button class='sm-btn' type="button">Got it !</button>
            </main>
        </div>
    </div>
-->
</main>