<html>
  <% include partials/head.ejs %>
<body>
  <% include partials/header.ejs %>

  <%- include(page) %>

  <% include partials/footer.ejs %>
  
  <% include partials/scripts.ejs %>
</body>
</html>