<main>
    <h2>Signup</h2>

    <form id="signup_form" action="/signup" method="post">
        <div>  
            <label for="signup-firstname">
                <i class="fa fa-user" aria-hidden="true"></i>
            </label>
            <input type="text" name="firstname" placeholder="Firstname" id="signup-firstname">
        </div>
        
        <div>  
            <label for="signup-lastname">
                <i class="fa fa-user" aria-hidden="true"></i>
            </label>
            <input type="text" name="lastname" placeholder="Lastname" id="signup-lastname">
        </div>
        
        <div>  
            <label for="signup-email">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </label>
            <input type="text" name="email" placeholder="Email" id="signup-email">
        </div>
        
        <div>  
            <label for="signup-password">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="signup-password">
        </div>
          
        <div>  
            <label for="signup-confirm">
                <i class="fa fa-check" aria-hidden="true"></i>
            </label>
            <input type="password" name="confirm" placeholder="Confirm Password" id="signup-confirm">
        </div>
        
        <a href="/login" title=""><p>Already a user ? Login</p></a>
        
        <input class="sm-btn" type="submit">
    </form>
</main>