$bg-title: 20px;
$md-title: 18px;
$sm-title: 16px;
    
$bg-text: 14px;
$md-text: 12px;
$sm-text: 10px;
    
$titillium: 'titillium web', sans-serif;
$opensans: 'opensans', sans-serif;

$primary: black;
$second: black;
$light: black;
$dark: black;
