$bg-title: 18px;
$md-title: 16px;
$sm-title: 14px;
    
$bg-text: 14px;
$md-text: 12px;
$sm-text: 10px;
    
$titillium: 'titillium web', sans-serif;
$opensans: 'opensans', sans-serif;

$blue: #00ADEF;
$purple: #7E57D9;
$grey: #363636;
$darkgrey: #262626;
$whiteblue: #EBFEFF;

$header-height: 50px;

$label-color: #F3F3F3;
$label-width: 45px;
$form-border-color: #DBDBDB;
$input-height: 35px;
$textarea-height: 120px;
$form-radius: 3px;
$label-icon-size: 20px;
$label-icon-color: $blue;
$placeholder-color: #B5B5B5;
$placeholder-size: 13px;