body > header.offline {
    background-color: #363636;
    height: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    a {
        display: block;
        float: left;
        .logo {
            float: left;
            width: 35px;
            margin-top: 5px;
            margin-right: 15px;
            display: inline-block;
        }
        h1 {
            float: left;
        }
    }
    nav {
        display: inline-block;
        height: 100%;
        float: right;
        ul.basic, ul.auth {
            display: inline-block;
            height: 100%;
            li {
                display: inline-block;
                height: 100%;
                margin-left: 10px;
                a {
                    display: inline-block;
                    color: white;
                    height: 100%;
                    line-height: 50px;
                    font-size: $sm-title;
                }
            }
        }
        ul.auth {
            margin-left: 40px;
        }
    }
}

body > header.online {
    
}