body > header {
    background-color: #0B114F;
    nav {
        ul {
            width: 400px;
            li {
                display: inline-block;
                a {
                    color: white;
                }
            }
        }
    }
}