body > header {
    background-color: #363636;
    height: 50px;
    nav {
        ul {
            width: 400px;
            li {
                display: inline-block;
                a {
                    color: white;
                }
            }
        }
    }
}