<header>
<!--Logo-->
    <nav>
        <ul>
            <li><h3><a href="">Features</a></h3></li>
            <li><h3><a href="">Prices</a></h3></li>
            <li><h3><a href="">Profile</a></h3></li>
            <li><h3><a href="">About</a></h3></li>
            <li><h3><a href="">Contact</a></h3></li>
        </ul>
    </nav>
</header>